.input {
  height: 35px;
  width: 100%;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 0 20px;
  box-sizing: border-box;
  transition: all ease 100ms;
}

.input:hover,
.input:focus {
  border: 1px solid rgb(0, 211, 226);
}

.input::placeholder {
  transform: translateX(10px);
}
