.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 40px;
  height: 60px;
  width: 350px;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.5);
  box-shadow: 2px 2px 4px 0 rgb(78, 78, 78);
}

.enter {
  transform: translateX(150%);
}
.enterActive {
  transform: translateX(0);
  transition: all 250ms ease;
}
.exit {
  transform: translateX(0);
}
.exitActive {
  transform: translateX(150%);
  transition: all 250ms ease;
}
