.list {
  width: 100%;
  list-style: non;
  margin: 0;
  padding: 0;
}
.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 6px;
  transition: all ease 150ms;
}
.contact:hover,
.contact:focus {
  box-shadow: 1px 1px 2px 1px rgb(185, 185, 185);
}

.contact:not(:last-child) {
  margin-bottom: 15px;
}

.discription {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.avatar {
  width: 50px;
  border-radius: 50%;
  margin-left: 20px;
  opacity: 70;
}

.button {
  margin-left: auto;
  margin-right: 20px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.delete {
  font-size: 20px;
}
